html, body {
    margin:           0;
    padding:          0;
    background-color: #fff;
    color:            #000;
} 
div {
    background-color: blue;
    width:            200px;
    height:           200px;
    position:         relative;
}
ul {
    margin:  0;
    padding: 0;
}
li {
    margin: 10px;
    list-style-type: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
