html, body {
    margin:  0;
    padding: 0;
    background-color: #fff;
    color: #000;
} 
img {
    border: none;
}
a {
    text-decoration: none;
}
.underline {
    text-decoration: underline;
}

ul {
    margin:  0;
    padding: 0;
    display: block;
}
li {
    display: inline-block;
    zoom: 1;
    font-size: 85%;
    position: relative;
    vertical-align: top;
    width: 12em;
    min-height: 50px;
    min-width: 200px;
    list-style-type: none;
    margin: 0 25px 3em 0;
}

.items {
/*  position: relative;*/
}
.image {
    display: block;
    height: 200px;
    line-height: 200px;
}

p {
    margin: 0;
}
H1 {
    font-family: "Georgia";
    text-align: center;
    font-style: italic;
}
